@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');

/* ----------------------------------------colors-- */
body {
    background-color: #CDEDFD;
    font-family: 'Playfair Display', serif;
}

.bg-drk {
    background-color: #7CC6FE;
}

.color-drk{
     color: #0A122A;
}

.the_weather{
    color: #B8336A;
}

.bg-map {
    background-color: #B6DCFE;
}


/* ----------------------------------------------size and shape--- */

.navbar {
    width: 100%;
}

.five_photos {
    height: 200px;
    object-position: center;
    padding-bottom: 2%;
}


.minipicture {
    height: 200px;
    width: auto;
    /* max-width: 100%; */
    object-fit: contain;
    
}

.picture-large{
    object-fit: contain;
}

.carousel-box {
    object-position: center;
    padding: 2% 5%;
}

.not-high {
    min-height: 50px;
    max-height: 10%;
}

.mapNtext {
    width: 100%;
    max-height: 60%;
    min-height: 50px;
}

.social {
    min-height: 120px;
}

/* ------------------------------------------------- style -- */

.no-margin {
    margin: 0;
}

.inline-block {
    display: inline-block;
}

.center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

/* ------------------------------------------------- footer -- */

.bg-footer {
    background-color: #B8336A;
    color: #fafafa;
}


