@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');

/* ----------------------------------------colors-- */
body {
    background-color: #CDEDFD;
    font-family: 'Playfair Display', serif;
}

.bg-drk {
    background-color: #7CC6FE;
}

.color-drk{
     color: #0A122A;
}



.bg-map {
    background-color: #B6DCFE;
}

.color-red {
    color:  #B8336A;
}

.bg-footer {
    background-color: #B8336A;
    color: #fafafa;
}

.form-bg {
    background-color: #7CC6FE;
    opacity: 0.8;
}

/* ----------------------------------------------size and shape--- */

.navbar {
    width: 100%;
}

.carousel-box {
    object-position: center;
    padding: 2% 5%;
    height: 80%;
}

.not-high {
    min-height: 50px;
    max-height: 10%;
}
.not-wide {
    max-width: 60%;
}

.wide {
    width: 100%;
    height: 100%;    
}

footer {
    min-height: 120px;
    padding: 2%;
}


.contact-form {
    max-width: 90%;
    height: auto;
    padding: 5%;
}

/* form {
    margin: 5% 5% 5% 30%;
} */



/* ------------------------------------------------- style -- */

.no-margin {
    margin: 0;
    padding: 0;
}

.hidden{
    display: none;
}

.inline-block {
    display: inline-block;
}

.center {
    text-align: center;
}

.obj-center {
    object-position: center;
}

.uppercase {
    text-transform: uppercase;
}

.left {
    margin:0%;
    padding-left: 15px;
}

.right {
    margin: 0%;
    padding-right: 15px;
}

.overflow {
    overflow: hidden;
}

/* .row-table {
    display: table;
}

.section-column {
    display: table-cell;
} */
/* ----------------------------------------------images --- */
.five_photos {
    height: 200px;
    object-position: center;
    padding-bottom: 2%;
    overflow: hidden;
}

.five_photos_sl {
    height: 200px;
    object-position: center;
    padding: 2% 1%;
    overflow: hidden;
}


.minipicture {
    height: 200px;
    width: auto;
    object-fit: cover;
    
}

.picture-large{
    max-height: 100%;
    object-fit: contain;
}

/* #moko_down {
    max-height: 80%;
    width: auto;
    object-position: center;
    object-fit:contain;
} */

/* ------------------------------------------------- Weather-- */

.weather {
    display: block;
    padding: 2% 0;
}



/* ------------------------------------------------- Map-- */

.mapNtext {
    width: 100%;
    min-height: 450px;
}

/* .map {
    width: 100%;
    height: 100%;
    float: left;
} */

.map {
    border: none;
    width: 100%;
    height: 450px;
}

.description {
    text-align: justify;
}

.directions {
    text-align: center;
}

/* ------------------------------------------------- contact us, -- */


.contact-form {
    min-height: 120px;
    width: 100%;
    padding: 3% 20% 5% 20%;
    position: relative;
    display: block;
}

.btn {
    font-size: 26px;
    background-color:  #0A122A;
}

/* ------------------------------------------------- Footer -- */

i {
    text-decoration: none;
}
.social i {
    font-size: 24px;
    color: #fafafa;
    text-align: center;
    padding: 15px;

    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.social i:hover {
    
    color: #0A122A;
    font-size: 30px;
}


