/* ----------------------------------------colors-- */
body {
    background-color: #CDEDFD;
}

.bg-drk {
    background-color: #7CC6FE;
    color: #0A122A;
}

.bg-map {
    background-color: #B6DCFE;
}


/* ----------------------------------------------size and shape--- */

.navbar {
    width: 100%;
}

.five_photos {
    height: 200px;
    object-position: center;
    padding-bottom: 2%;
}


.minipicture {
    height: 200px;
    width: auto;
    /* max-width: 100%; */
    object-fit: contain;
    
}

.picture-large{
    object-fit: contain;
}

.carousel-box {
    object-position: center;
    padding: 2% 5%;
}

.not-high {
    min-height: 50px;
    max-height: 10%;
}

.mapNtext {
    width: 100%;
    max-height: 60%;
    min-height: 50px;
}
/* ------------------------------------------------- other-- */

.no-margin {
    margin: 0;
}

.d-inl-bl {
    display: inline-block;
}

.the_weather {
    text-align: center;
}